


.container{
display: flex;
display: inline-block;
background-color: black;
width: 120px;
height: 400px;
margin:10px;

}
.red{
    margin: 20px;
    width: 80px;
    height: 100px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 180px;
    background-color: red;

}

.yellow{
    margin: 20px;
    width: 80px;
    height: 100px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 180px;
    background-color: yellow;
}
.green{
   margin: 20px;
    width: 80px;
    height: 100px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 180px;
    background-color: green
}

.Selected{
    -webkit-box-shadow: 5px 5px 50px 5px #FFD415;
    box-shadow: 5px 5px 50px 5px #FFD415;
}